/1Intro/*.opensdf
/1Intro/*.sdf
/1Intro/cppIntegration/Win32
/1Intro/cppIntegration/*.o
/1Intro/cppIntegration/*.pdb
/1Intro/deviceQuery/Win32
/1Intro/template/Win32
/1Intro/template/*.o
/1Intro/template/*.pdb
/1Intro/vectorAdd/Win32
/1Intro/vectorAdd/*.o
/1Intro/vectorAdd/*.pdb
/bin
/1Intro/*.suo
/1Intro/ipch
/2Port/*.suo
/2Port/*.sdf
/2Port/*.opensdf
/3Opti/*.opensdf
/3Opti/*.sdf
/3Opti/*.suo
/3Opti/ipch
/3Opti/Debug
/3Opti/Release
/3Opti/cuOpti/Debug
/3Opti/cuOpti/Release
/3Opti/cuOpti/*.pdb
/3Opti/matrixMul-SDK/Win32
/3Opti/matrixMul-SDK/*.pdb
/4Diy/*.opensdf
/4Diy/*.sdf
/4Diy/Debug
/4Diy/cuOpti/Debug
/4Diy/cuOpti/*.pdb
/4Diy/cuOpti/Release
/4Diy/Release
/4Diy/reduction/Release
/4Diy/reduction/*.pdb
/4Diy/reduction/*.user
/4Diy/*.suo
/4Diy/ipch
/4Diy/reduction/Debug
/4Diy/vectorDot/*.user
/4Diy/vectorDot/Debug
/4Diy/vectorDot/Release
/4Diy/vectorDot/*.pdb
/4Diy/scan/*.pdb
/4Diy/scan/Release
/4Diy/scan/Debug
/4Diy/scan/*.user
/4diy/Debug
/4diy/Release
/4diy/*.sdf
/4diy/*.suo
/4diy/ipch
/4Diy/boxfilter/Debug
/4Diy/boxfilter/Release
/4Diy/boxfilter/*.user
/4Diy/boxfilter/*.pdb
/4diy/rgb2gray/Release
/4diy/rgb2gray/Debug
/4diy/rgb2gray/*.pdb
/4diy/rgb2gray/*.user
/3Demos/Debug
/3Demos/Release
/3Demos/matrixMultiplyDIY/Debug
/3Demos/matrixMultiplyDIY/Release
/3Demos/matrixMultiplyDIY/ipch
/3Demos/matrixMultiplyDIY/*.sdf
/3Demos/matrixMultiplyDIY/*.suo
/3Demos/matrixMultiplyDIY/*.user
/3Demos/matrixMultiplyDIY/*.pdb
/3Demos/*.suo
/3Demos/matrixMultiplyDIY/*.opensdf
/3Demos/*.opensdf
/3Demos/*.sdf
/3Demos/ipch
/3Demos/MatrixTransposeTest/Release
/3Demos/MatrixTransposeTest/*.pdb
/3Demos/MatrixTransposeTest/*.user
/3Demos/matrixTransposeDIY/Release
/3Demos/matrixTransposeDIY/*.user
/3Demos/matrixTransposeDIY/*.pdb
/3Demos/reductionDIY/*.user
/3Demos/matrixTransposeDIY/Debug
/3Demos/reductionDIY/Debug
/3Demos/reductionDIY/Release
/3Demos/reductionDIY/*.pdb
/2Port/Debug
/2Port/ipch
/2Port/Release
/2Port/PolygonDistance/Release
/2Port/PolygonDistance/Debug
/2Port/c2cu/Debug
/2Port/c2cu/Release
/2Port/c2cu/*.pdb
/2Port/PolygonDistance/*.pdb
/exam/14sh/Debug
/exam/14sh/Release
/exam/14sh/*.opensdf
/exam/14sh/*.sdf
/exam/14sh/*.pdb
/exam/14sh/ipch
/exam/14sh/*.suo
/exam/14sh/x64
